.input-block{
    position: relative;
    width: 80%;
}

.input-block + .input-block{
    margin-top: 1.4rem;
}

.input-block label{
    font-size: 1.4rem;
}

.input-block input{
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    border-radius: 0.8rem 0 0 0.8rem;
    background: #eeeeee;
    border: none;
    outline: 0;
    padding: 0 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    box-sizing: border-box;
}

.input-block:focus-within::after{
    width: calc( 100% - 3.2rem );
    height: 2px;
    content: '';
    background: #333333;
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0.8rem;
}