.App {
  display: flex;
  
  text-align: center;
  width: 80vw;
  height: 60vh;
  max-width: 800px;
  margin: auto;
}

#searchBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#searchBox button{
  background-color: #ff4655;
  font-size: 1.4rem;
  color: #eeeeee;
  height: 5.6rem;
  width: 6rem;
  margin-bottom: 0.8rem;
  align-self: flex-end;
  border-radius: 0 0.8rem 0.8rem 0;
  border: 1px solid #000000;
  box-shadow: 2px 2px 8px #00000055;
}

#searchBox button:hover{
  box-shadow: none;
}

#searchBox input{
  align-self: flex-end;
}

 