#root div.App{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#root{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

body{
    margin: 0;
    padding: 0;   
    font-family: 'Poppins', sans-serif;
}
